/* Fonts - Link via (@import) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&family=Ubuntu:wght@400;700&display=swap');

/* Variables */
root {
--variableName: value;
--boxSizing: border-box;
}
 
/* Universal Styles - <h1-h6, p, a> */
* {
margin: 0; 
padding: 0; 
box-sizing: var(--boxSizing);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin-bottom: 0;
}

.material {
    background-color: #1A8754;
    background-position: center;
    border-radius: 4px;
    color: white !important;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
    font-size: 0.9rem;
    line-height: 1.75;
    outline: none;
    padding: 6px 16px;
  
    text-transform: uppercase !important;
    transition: background-color 125ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      background 0.8s !important;
  
    /* Added after the video! */
    border: none !important;
  }
  
  .material:hover {
    background-image: radial-gradient(
      circle,
      transparent 1%,
      rgb(74, 171, 126) 1%
    ) !important;
    background-size: 20000% !important;
    background-color: rgb(74, 171, 126) !important;
  }
  
  .material:active {
    background-color: rgb(168, 224, 194) !important;
    background-size: 100% !important;
    transition: background 0s !important;
  }

/* Navbar */
nav {
    font-family: 'Ubuntu', sans-serif;
}

nav .navbar-brand {
    font-weight: bold;
    color: #C54531 !important;
}

nav .nav-link {
    font-weight: bolder;
}

nav .nav-link-regular {
    color: #4C4C4C !important;
}

nav a.nav-link-regular:hover {
    transition: all .3s ease-in-out;
    color:#C54531 !important;
}

nav .btn-success {
    color: #fff !important;
    border-radius: 15px;
}

/* Menu */
.menu-images {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    width: 100%;
}

.menu-images a{
    display: grid;
    align-items: center;
    justify-content: center;
}

.menu-image {
    border-radius: 5px;
}

.menu-images a:hover {
    transition: all .3s ease;
    -webkit-box-shadow: 1px 2px 50px 5px #CFFF90; 
    box-shadow: 1px 2px 50px 5px #CFFF90;
}

#menu a.text-dark:hover {
    transition: all .3s ease;
    text-decoration: none;
    background: #1A8754;
    color: white !important;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.menu-nav a.text-dark {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color:#4C4C4C;
}

.menu-category {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #C54531;
}

.menu-item-card-body {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

span.vegan-menu-option {
    color: #1A8754;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

span.catering-alert {
    color: #C54531;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h1#catering-menu {
    font-family: 'Merriweather', serif;
    color: #1A8754;
}

.menu-item-card-body .d-inline.flex {
    display: flex;
    align-items: center;
}

#menu .menu-item-card-body p:first-child {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    margin-top: 0;
}

#menu .menu-item-card-body p {
    font-size: .9rem;
    margin-top: auto;
    margin-bottom: auto;
}

.catering-menu-images img {
    height: 30rem;
}

/* Delivery */
.delivery-header {
    color: #4C4C4C;
}

/* Contact */
#contact #maps-div {
    height: 25rem;
}

#contact .btn-success {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

/* BS5 Media Queries - up or down */
@media (max-width: 576px) {
    .menu-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .catering-menu-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
}

@media (max-width: 768px) { 
    /** Global */
    .material {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .75rem 1.25rem;
    }

    /** Nav */
    nav .material {
        padding-left: .5rem !important;
    }

    /** Menu */
    .menu-images {
        gap: .5rem !important;
    }

    .menu-item-desc {
        display: grid;
        justify-content: start;
    }

    .menu-item-desc-text {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}