/* Fonts - Link via (@import) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&family=Ubuntu:wght@400;700&display=swap');

/* Variables */
root {
--variableName: value;
--boxSizing: border-box;
}
 
/* Universal Styles - <h1-h6, p, a> */
* {
margin: 0; 
padding: 0; 
box-sizing: var(--boxSizing);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15rem;
}

/* Navbar */
nav {
    font-family: 'Ubuntu', sans-serif;
}

nav .navbar-brand {
    font-weight: bold;
    color: #C54531 !important;
}

nav .nav-link {
    font-weight: bolder;
}

nav .nav-link-regular {
    color: #4C4C4C !important;
}

nav .nav-item-regular:hover {
    text-decoration: underline;
}

nav .btn-success {
    color: #fff !important;
    border-radius: 15px;
}

/* Menu */


/* BS5 Media Queries - up or down */
@media (min-width: 576px) {

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}