/* Fonts - Link via (@import) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&family=Ubuntu:wght@400;700&display=swap');

/* Variables */
root {
--variableName: value;
--boxSizing: border-box;
}
 
/* Universal Styles - <h1-h6, p, a> */
* {
margin: 0; 
padding: 0; 
box-sizing: var(--boxSizing);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.material {
    background-color: #1A8754;
    background-position: center;
    border-radius: 4px;
    color: white !important;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
    font-size: 0.9rem;
    line-height: 1.75;
    outline: none;
    padding: 6px 16px;
  
    text-transform: uppercase !important;
    transition: background-color 125ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      background 0.8s !important;
  
    /* Added after the video! */
    border: none !important;
  }
  
  .material:hover {
    background-image: radial-gradient(
      circle,
      transparent 1%,
      rgb(74, 171, 126) 1%
    ) !important;
    background-size: 20000% !important;
    background-color: rgb(74, 171, 126) !important;
  }
  
  .material:active {
    background-color: rgb(168, 224, 194) !important;
    background-size: 100% !important;
    transition: background 0s !important;
  }

/* Navbar */
nav {
    font-family: 'Ubuntu', sans-serif;
}

nav .navbar-brand {
    font-weight: bold;
    color: #C54531 !important;
}

nav .nav-link {
    font-weight: bolder;
}

nav .nav-link-regular {
    color: #4C4C4C !important;
}

nav a.nav-link-regular:hover {
    transition: all .3s ease-in-out;
    color:#C54531 !important;
}

nav .btn-success {
    color: #fff !important;
    border-radius: 15px;
}

/* Menu */
.menu-category {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #C54531;
}

.menu-item-card-body {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

span.vegan-menu-option {
    color: #1A8754;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

span.catering-alert {
    color: #C54531;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

#menu a:hover {
    transition: all .3s ease;
    text-decoration: none;
    background: #1A8754;
    color: white !important;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

h1#catering-menu {
    font-family: 'Merriweather', serif;
    color: #1A8754;
}

/* Contact */
#contact #maps-div {
    height: 25rem;
}

#contact .btn-success {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}



/* BS5 Media Queries - up or down */
@media (min-width: 576px) {

}

@media (max-width: 768px) { 
    .material {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .75rem 1.25rem;
    }

    nav .material {
        padding-left: .5rem !important;
    }
}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}